*{
    box-sizing: border-box;
}
body {
    min-width: 360px;
    max-width: 1310px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #333;
    background: #f4f5f6;
}

.header-top {
    height: 95px;
    background: #f72210;
}
  
.header-top .container {
    max-width: 1310px;
    padding-top: 20px;
}
  
.header-top date {
    margin-left: 20px;
    font-size: 16px;
    font-stretch: condensed;
    line-height: 34px;
    color: #fff;
}
ul{
    list-style-type: none;
}
.btn-red,
.btn-white {
  padding: 0 12px;
  font-size: 18px;
  font-stretch: condensed;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-red:hover,
.btn-white:hover {
  text-decoration: none;
}

.btn-red {
  color: #fff;
  background-color: #f72210;
}

.btn-red:hover {
  color: #fff;
}

.btn-white {
  background-color: #fff;
  color: #f72210;
}

.btn-white:hover {
  color: #f72210;
}

.header-bottom {
  position: relative;
  padding: 15px 160px 15px 0;
  background-color: #fff;
  border-bottom: 2px solid #f4f5f6;
}

.header-bottom ul {
  width: 100%;
}

.header-bottom li {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  font-stretch: condensed;
  line-height: 24px;
  color: black;
  border-right: 1px solid #d9d9d9;
}

.header-bottom a {
  color: #000;
  text-decoration: none;
}

.header-bottom a:hover {
  color: #f72210;
}

.search-field {
  position: absolute;
  top: 0;
  right: 102px;
  width: 60px;
  height: 54px;
  font-size: 16px;
  color: rgba(0,0,0,.55);
  background-color: #fff;
  border: none;
}

.search-icon {
  position: absolute;
  right: 82px;
  top: 18px;
  background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) center/contain no-repeat #fff;
  width: 20px;
  height: 20px;
}
.category {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.category a,
.magazine-category {
  font-size: 17px;
  font-weight: bold;
  font-stretch: condensed;
  text-transform: uppercase;
}

.category a {
  display: block;
  padding: 8px 15px 9px;
  text-decoration: none;
  color: #f72210;
  background-color: rgba(255,255,255,.9);
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  font-stretch: condensed;
  line-height: 24px;
}
h2 a,
h3 a {
  color: #000;
}

h2 a:hover,
h3 a:hover {
  color: #000;
  text-decoration: underline #f72210;
}
.featured-stories,
.stories-main,
.opinion-news,
.more-stories {
  padding-top: 15px;
}
.img-wrapper {
  position: relative;
}
.culture-travel {
  margin-top: 15px;
  background-color: #f4f5f7;
}

.culture-travel h5 {
  padding: 10px;
}