*{
    box-sizing: border-box;
}
body {
    min-width: 360px;
    max-width: 1310px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #333;
    background: #f4f5f6;
}
strong {
  font-weight: 700;
}

h1 {
  padding-top: 25px;
  padding-bottom: 11px;
  border-top: 1px solid #ddd;
  color: #f72210;
  font-size: 22px;
  font-weight: bold;
  font-stretch: condensed;
  line-height: 22px;
}

h1 a {
  color: inherit;
}

h1 a:hover {
  text-decoration: none;
  color: inherit;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
  font-stretch: condensed;
  line-height: 22px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  font-stretch: condensed;
  line-height: 24px;
}

h2 a,
h3 a {
  color: #000;
}

h2 a:hover,
h3 a:hover {
  color: #000;
  text-decoration: underline #f72210;
}

h4 {
  margin: 10px 5px;
  font-family: "Lora", serif;
  font-size: 20px;
  line-height: 22px;
}

h4 a {
  color: inherit;
}

h4 a:hover {
  text-decoration: none;
  color: inherit;
}

h5 {
  padding-bottom: 6px;
  font-size: 16px;
  font-weight: bold;
  font-stretch: condensed;
  text-transform: uppercase;
  color: rgba(3,3,3,.4)
}

h6 {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: bold;
  font-stretch: condensed;
  line-height: 20px;
}

h6 a {
  color: inherit;
}

h6 a:hover {
  text-decoration: underline #f72210;
  color: inherit;
}

.fluid-container {
  padding-left: 30px;
  padding-right: 30px;
  background: #fff;
}


.header-top {
    height: 95px;
    background: #f72210;
}
  
.header-top .container {
    max-width: 1310px;
    padding-top: 20px;
}
  
.header-top date {
    margin-left: 20px;
    font-size: 16px;
    font-stretch: condensed;
    line-height: 34px;
    color: #fff;
}
ul{
    list-style-type: none;
}
.btn-red,
.btn-white {
  padding: 0 12px;
  font-size: 18px;
  font-stretch: condensed;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-red:hover,
.btn-white:hover {
  text-decoration: none;
}

.btn-red {
  color: #fff;
  background-color: #f72210;
}

.btn-red:hover {
  color: #fff;
}

.btn-white {
  background-color: #fff;
  color: #f72210;
}

.btn-white:hover {
  color: #f72210;
}

.header-bottom {
  position: relative;
  padding: 15px 160px 15px 0;
  background-color: #fff;
  border-bottom: 2px solid #f4f5f6;
}

.header-bottom ul {
  width: 100%;
}

.header-bottom li {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  font-stretch: condensed;
  line-height: 24px;
  color: black;
  border-right: 1px solid #d9d9d9;
}

.header-bottom a {
  color: #000;
  text-decoration: none;
}

.header-bottom a:hover {
  color: #f72210;
}

.search-field {
  position: absolute;
  top: 0;
  right: 102px;
  width: 60px;
  height: 54px;
  font-size: 16px;
  color: rgba(0,0,0,.55);
  background-color: #fff;
  border: none;
}

.search-icon {
  position: absolute;
  right: 82px;
  top: 18px;
  background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) center/contain no-repeat #fff;
  width: 20px;
  height: 20px;
}
@media only screen and (max-width: 992px) {
  .header-top {
    height: 55px;
  }

  .main-logo {
    height: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .header-top .btn-red,
  .header-top .btn-white {
    font-size: 14px;
    padding: 0 3px;
  }
}

.category {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.category a,
.magazine-category {
  font-size: 17px;
  font-weight: bold;
  font-stretch: condensed;
  text-transform: uppercase;
}

.category a {
  display: block;
  padding: 8px 15px 9px;
  text-decoration: none;
  color: #f72210;
  background-color: rgba(255,255,255,.9);
}


.featured-stories,
.stories-main,
.opinion-news,
.more-stories {
  padding-top: 15px;
}
.img-wrapper {
  position: relative;
}
.culture-travel {
  margin-top: 15px;
  background-color: #f4f5f7;
}

.culture-travel h5 {
  padding: 10px;
}

.news-main,
.featured-story,
.culture-travel-item,
.opinion,
.latest-news,
.magazine,
.editors-pick {
  padding-bottom: 20px;
}

.featured-story img,
.top-story img,
.culture-travel-item img,
.opinion-item img,
.latest-news-item img,
.editors-pick img,
.slideshow-item img,
.main-category img,
.cta-newsletter img,
.magazine img {
  width: 100%;
}

.culture-travel-content {
  margin: 0 5px 10px 5px;
  color: rgba(39,39,39,.5);
}
.culture-travel {
  margin-top: 15px;
  background-color: #f4f5f7;
}

.culture-travel h5 {
  padding: 10px;
}
.more-stories-item,
.latest-news-item,
.main-small {
  display: grid;
  grid-template-columns: 135px 1fr;
  grid-gap: 15px;
  border-top: 1px solid #ddd;
}

.more-stories-item,
.latest-news-item {
  padding: 14px 0;
}
.opinion-item {
  display: grid;
  grid-template-columns: 63px 1fr;
  grid-gap: 15px;
  padding: 10px 0;
  border-top: 1px solid #ddd;
}
.opinion-item h6 a:hover,
.latest-news-item h6 a:hover,
.main-small h6 a:hover {
  text-decoration: none;
  color: #f72210;
}
@media only screen and (max-width: 768px) {
  .latest-news-item {
    grid-template-columns: 268px 1fr;
  }
}

/* Magazine Section */

.section-header {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  padding-bottom: 8px;
  border-bottom: 1px solid #d9d9d9;
}

.section-heading {
  display: flex;
  align-items: center;
}

.magazine-cover {
  margin-top: 30px;
}
.magazine img {
  vertical-align: bottom;
}

.features-link {
  padding: 10px 10px 10px 12px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  font-stretch: condensed;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  background-color: #f4f5f6;
}

.features-link:hover {
  text-decoration: none;
  color: #000;
  background-color: #dbdcdd;
}

.magazine-row-bottom {
  padding-top: 30px;
}

.magazine-item img {
  width: 100%;
  height: 290px;
  object-fit: cover;
}

.magazine-last img {
  height: 319px;
}

.magazine-last .magazine-category {
  position: absolute;
  bottom: 0;
  left: 0;
}

.tags {
  margin-top: 10px;
}

.magazine-item h6 {
  margin-top: 10px;
  font-size: 20px;
}

.magazine-item .category {
  position: static;
  padding: 0;
}

.magazine-item .category a {
  padding: 0;
}

.magazine-category {
  display: inline-block;
  margin-right: 7px;
  padding: 0 7px;
  color: #fff;
  background-color: #f72210;
}

/* Editor's Pick section */

.editors-pick-item {
  margin-bottom: 20px;
}

/* Main Category */
.main-category {
  margin-top: 30px;
}

.main-small {
  padding: 10px 0;
}

.main-category-top {
  padding-top: 0;
  border-top: 0;
}

.main-last {
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
}

/* Call to Action section */

.cta {
  padding-top: 40px;
  padding-bottom: 40px;
}

.cta h5 {
  color: #f72210;
}

.subscribe {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-gap: 30px;
  align-items: center;
  margin-bottom: 30px;
  padding: 30px;
  background-color: #f4f5f6;
}

.cta-newsletter {
  display: grid;
  grid-template-columns: 191px 1fr;
  grid-template-rows: 300px auto;
}

.cta .btn-red {
  display: inline-block;
  padding: 10px 10px 10px 12px;
  font-size: 18px;
}

.subscribe-info .btn-red:hover {
  background-color: #de1f03;
}

.cta p {
  margin-bottom: 25px;
}

.cta-newsletter img {
  height: 100%;
  object-fit: cover;
}

.newsletter-info {
  height: 300px;
  padding: 25px;
  border: 1px solid #ddd;
}

.col-lg-5 .newsletter-info {
  height: 345px;
}

.col-md-12 .newsletter-info {
  height: auto;
}

@media only screen and (max-width: 1000px) {
  .cta-newsletter {
    grid-template-columns: 190px 1fr;
    grid-template-rows: 190px;
  }
}


@media only screen and (max-width: 768px) {
  .subscribe,
  .cta-newsletter {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .cta-newsletter {
    grid-template-rows: 160px 1fr;
  }

  .subscribe-info,
  .newsletter-info {
    text-align: center;
  }
}

/* Footer */

footer {
  border-top: 1px solid #ebebeb;
  color: #666;
}

footer a {
  color: #666;
}

footer header {
  display: flex;
  align-items: flex-end;
  margin-top: 30px;
  padding-bottom: 12px;
  margin-bottom: 6px;
  border-bottom: 1px solid #d9d9d9;
}

.copyright {
  margin-left: 15px;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}

.social {
  display: flex;
  margin-left: auto;
}

.social li {
  margin-left: 10px;
}

.genericon {
  display: block;
  font-size: 25px;
  line-height: 24px;
  text-align: center;
}

.genericon:hover {
  text-decoration: none;
}

.edition-links,
.footer-nav {
  display: flex;
  flex-wrap: wrap;
}

.edition-links li,
.footer-nav li {
  margin-top: 6px;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #d9d9d9;
}

.edition-links .last,
.footer-nav .last {
  padding-right: 0;
  margin-right: 0;
  border-right: none;
}

.edition-links a:hover,
.footer-nav a:hover {
  text-decoration: none;
  color: #000;
}

.label {
  cursor: default;
  margin: 6px 15px 6px 0;
}

@media only screen and (max-width: 768px) {
  footer header {
    flex-direction: column;
    align-items: flex-start;
  }

  .copyright {
    margin: 10px 0;
  }

  .social {
    margin-left: -10px;
  }
}